<div class="container-fluid mainblock-carousel" [attr.id]="anchorId" >
    <div class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

            <div class="carousel-item " [ngClass]="{'active': i==0}" *ngFor="let carrouselItem of carrouselItems;let i=index">
                <div class="row no-gutters col-12 d-lg-none">
                    <h6 class="carousel-item-title">{{carrouselItem.shortTitle}}</h6>
                </div>
                <div class="row no-gutters align-items-end">
                    <div class="col-1 d-none d-lg-block">
                        <h6 class="carousel-item-title carousel-item-title-rotated">{{carrouselItem.longTitle}}</h6>
                        <div class="carousel-item-number text-center">
                            <h2>{{carrouselItem.itemNumber}}</h2>
                        </div>
                    </div>
                    <div class="col">
                        <img [attr.src]="carrouselItem.imageUrl" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
