<div class="container-fluid mainblock-pie">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 mb-3 text-center">
                <img src="assets/images/Grupo 4.png" width="146">
            </div>
            <div class="col-md-6 text-center">
                <h2><i class="fas fa-phone-alt" style="font-size: 2.3rem;"></i> 3416 186 224</h2>
            </div>
            <div class="col-md-3">
                <div class="row justify-content-center">
                    <div class="col-4 text-center">
                        <h2><i class="fab fa-instagram"></i></h2>
                    </div>
                    <div class="col-4 text-center">
                        <h2><i class="fab fa-facebook-square"></i></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <h6><i class="fas fa-envelope"></i> cepe.barrioabierto@gmail.com</h6>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center piefirma">
        <div class="col">
            Comunidad Evolutiva 2020 Todos los derechos reservados . 2020
        </div>
    </div>
</div>
