<div class="container-fluid mainblock-proyecto" [attr.id]="anchorId">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-6">
                <br><br>
                <h2>Conectate</h2>
                <div class="row">
                    <div class="col-md-1"><br>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <br>
                        <p>Vitta es un barrio wellness, pensado para alcanzar el equilibrio saludable entre los niveles
                            mentales, físicos y emocionales, a través del diseño de sus áreas comunes, equipamientos,
                            mobiliario y diversos espacios temáticos, fusionando la vida urbana cotidiana con
                            actividades recreativas, deportivas, lúdicas y meditativas para crear un paisaje residencial
                            innovador.</p>
                        <br>
                        <br>
                        <p> Aprovechá al máximo todos los espacios que propone Vitta para alcanzar tu mejor versión.</p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-5">
                    </div>
                    <div class="col-xl-7">
                        <div class="row">
                            <div class="col-md-6 col-xl-12">
                                <div class="row pildora-green">
                                    <div class="col-6 izquierda">
                                        Conexión <mark>Vitta</mark>
                                    </div>
                                    <div class="col-6 derecha">
                                        <strong>Tu mejor versión</strong>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-xl-12">
                                <div class="row pildora-green2">
                                    <div class="col-6 izquierda">
                                        Conexión <mark>natural</mark>
                                    </div>
                                    <div class="col-6 derecha">
                                        Espacios <strong>verdes</strong>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-xl-12">
                                <div class="row pildora-green3">
                                    <div class="col-6 izquierda">
                                        Conexión <mark>mental</mark>
                                    </div>
                                    <div class="col-6 derecha">
                                        Bosque <strong>zen</strong>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-xl-12">
                                <div class="row pildora-cian">
                                    <div class="col-6 izquierda">
                                        Conexión <mark>social</mark>
                                    </div>
                                    <div class="col-6 derecha">
                                        Espacios <strong>compartidos</strong>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row pildora-blue">
                            <div class="col-6 izquierda">
                                Conexión <mark>corporal</mark>
                            </div>
                            <div class="col-6 derecha">
                                Circuitos <strong>deportivos</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 mapa">
                <img src="assets/images/mapa.svg">
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-1">

            </div>
            <div class="col-lg-6">
                <app-bloque-info-proyecto [alignRight]="false" [imgUrl]="'assets/images/meditacion.svg'"
                    [title]="'Zona Relax & Bosque Zen'"
                    [description]="'Zona diseñada para que disfrutes la belleza de la naturaleza en su estado más puro, ideal para experimentar la conexión con el entorno natural. Espacio funcional para actividades indoor de relajación.'"
                    [items]="['RELAJACIÓN + AEROYOGA','BOSQUE ZEN-DEROS','HOUSE RELAX']"></app-bloque-info-proyecto>
            </div>
        </div>
        <div class="row no-gutters d-none d-sm-flex text-center conectores-izq-der" style="color:black">
            <div class="col-1">
            </div>
            <div class="col-2">
                <div class="curvaarriba"></div>
            </div>
            <div class="col-6">
                <div class="linearecta"></div>
            </div>
            <div class="col-2">
                <div class="curvaabajo"></div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-5">

            </div>
            <div class="col-lg-6">
                <app-bloque-info-proyecto [alignRight]="true" [imgUrl]="'assets/images/shop.svg'" [title]="'Shop Park'"
                    [description]="'Acceso peatonal, comercial y recreativo. Pensado para que los habitantes puedan relajarse, conectarse con la naturaleza, relacionarse con los vecinos y realizar compras de abastecimiento cotidiano.'"
                    [items]="['TOOLSTORE','GUARDERÍA','LOCALES COMERCIALES']"></app-bloque-info-proyecto>
            </div>
        </div>
        <div class="row no-gutters d-none d-sm-flex text-center conectores-der-izq" style="color:black">
            <div class="col-1">
            </div>
            <div class="col-2">
                <div class="curvaarriba"></div>
            </div>
            <div class="col-6">
                <div class="linearecta"></div>
            </div>
            <div class="col-2">
                <div class="curvaabajo"></div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1">

            </div>
            <div class="col-lg-6">
                <app-bloque-info-proyecto [alignRight]="false" [imgUrl]="'assets/images/mascota.svg'"
                    [title]="'Parque de mascotas'"
                    [description]="'Un espacio pensado para que tu mascota pueda disfrutar en libertad, sin tener que esperar al finde para ir al parque. Instalaciones como bañeras para mascotas, bebederos y bancos le ortogan máximo confort a la zona.'"
                    [items]="[]"></app-bloque-info-proyecto>
            </div>
        </div>
        <div class="row no-gutters d-none d-sm-flex text-center conectores-izq-der" style="color:black">
            <div class="col-1">
            </div>
            <div class="col-2">
                <div class="curvaarriba"></div>
            </div>
            <div class="col-6">
                <div class="linearecta"></div>
            </div>
            <div class="col-2">
                <div class="curvaabajo"></div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-5">

            </div>
            <div class="col-lg-6">
                <app-bloque-info-proyecto [alignRight]="true" [imgUrl]="'assets/images/skater.svg'"
                    [title]="'Parque de niños'"
                    [description]="'Playground laberinto, juegos en el suelo y laberinto con muros bajos, sendero sensorial termoplástico con juegos pintados para niños, trepadores, Instalación con cuerdas, y tobogan. Reposera Spyder: Mobiliario con red cuerdas para utilizar como reposera. Mobiliario Urbano: Bancos de hormigón cúbicos'"
                    [items]="[]"></app-bloque-info-proyecto>
            </div>
        </div>
        <div class="row no-gutters d-none d-sm-flex text-center conectores-der-izq" style="color:black">
            <div class="col-1">
            </div>
            <div class="col-2">
                <div class="curvaarriba"></div>
            </div>
            <div class="col-6">
                <div class="linearecta"></div>
            </div>
            <div class="col-2">
                <div class="curvaabajo"></div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1">

            </div>
            <div class="col-lg-6">
                <app-bloque-info-proyecto [alignRight]="false" [imgUrl]="'assets/images/deporte.svg'"
                    [title]="'Circuito deportivo'"
                    [description]="'Un circuito ideal para que te mantengas activo y en movimiento. Pueden aprovecharlo personas de todas las edades y condiciones físicas. Diferentes zonas acompañando al circuito con diferentes intensidades y propuestas como:'"
                    [items]="['CIRCUITO DE TROTE','CONTAINER GIMNASIO','MURO DEPORTIVO','JUEGOS DE EQUILIBRIO','ACTIVIDADES INTERACTIVAS']">
                </app-bloque-info-proyecto>
            </div>
        </div>
        <div class="row no-gutters d-none d-sm-flex text-center conectores-izq-der" style="color:black">
            <div class="col-1">
            </div>
            <div class="col-2">
                <div class="curvaarriba"></div>
            </div>
            <div class="col-6">
                <div class="linearecta"></div>
            </div>
            <div class="col-2">
                <div class="curvaabajo"></div>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-5">

            </div>
            <div class="col-lg-6">
                <app-bloque-info-proyecto [alignRight]="true" [imgUrl]="'assets/images/toolbox.svg'" [title]="'Toolbox'"
                    [description]="'Container de herramientas, equipamiento e insumos disponibles para el uso común. Todo lo que necesitas para dedicarle el tiempo a las tareas domésticas sin que te falte nada.'"
                    [items]="[]"></app-bloque-info-proyecto>
            </div>
        </div>

    </div>
</div>
