<div class="container-fluid mainblock-proyecto">
    <div class="container text-center">
        <br><br>
        <h2>El proyecto</h2>
        <div class="row justify-content-md-center">
            <div class="col-md-1"><br>
                <hr>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-xl-5">
                <br>
                <p>Comunidad Evolutiva tiene como objetivo transformarse en un microcentro urbano pensado para producir,
                    educar, capacitar y promover un verdadero cambio que impulse una mejor calidad de vida y una
                    transformación real de los espacios que habitamos.</p>

            </div>
        </div>
        <div class="d-none d-lg-block">
            <img src="assets/images/proyecto-pana.svg">
        </div>
        <div class="d-block d-lg-none proyecto-overlap">
            <div class="row justify-content-md-center ">
                <div class="col-lg-4 ">
                    <div class="proyecto-card">
                        <img src="assets/images/having fun-pana.svg">
                        <div class="text-left title">
                            <br>
                            <p><i class="fas fa-check-circle"></i> VIVIENDA SOSTENIBLE</p>
                            <p class="subtitle">CO2 natural.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="proyecto-card">
                        <img src="assets/images/ride a bicycle-pana.svg">
                        <div class="text-left title">
                            <br>
                            <p><i class="fas fa-check-circle"></i>MOVILIDAD</p>
                            <p class="subtitle">Reducción de desplazamientos.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="proyecto-overlap-top">
                <div class="row justify-content-md-center">
                    <div class="col-lg-3">
                        <div class="proyecto-card-rounded">
                            <img src="assets/images/creation process-pana.svg">

                            <div class="text-left title">
                                <br>
                                <p><i class="fas fa-check-circle"></i>SERVICIOS</p>
                                <p class="subtitle">Autosuficientes.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-lg-3">
                        <div class="proyecto-card-rounded">
                            <img src="assets/images/eating healthy food-pana.svg">

                            <div class="text-left title">
                                <br>
                                <p><i class="fas fa-check-circle"></i>COMIDA</p>
                                <p class="subtitle">Frutas, vegetales, <br>proteinas.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col">

                    </div>
                    <div class="col-lg-3">
                        <div class="proyecto-card-rounded">
                            <img src="assets/images/word of mouth-pana.svg">

                            <div class="text-left title">
                                <br>
                                <p><i class="fas fa-check-circle"></i>COMUNIDADES</p>
                                <p class="subtitle">Cercanas y unidas.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-lg-3">
                        <div class="proyecto-card-rounded">
                            <img src="assets/images/gardening-pana.svg">

                            <div class="text-left title">
                                <br>
                                <p><i class="fas fa-check-circle"></i>NATURALEZA</p>
                                <p class="subtitle">Biodiversidad.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>

        </div>
    </div>
</div>
