<div class="container-fluid mainblock-beneficios">
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <h2>Beneficios de vivir en Comunidad Evolutiva</h2>
                <div class="row">
                    <div class="col-md-2">
                        <br>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <br>
                        <p><i class="fas fa-check-circle"></i>Mayor calidad ambiental.</p>
                        <p><i class="fas fa-check-circle"></i>Macroeconomía interna.</p>
                        <p><i class="fas fa-check-circle"></i>Consumo responsable.</p>
                        <p><i class="fas fa-check-circle"></i>Cuidado del medio ambiente.</p>
                        <p><i class="fas fa-check-circle"></i>Intendencia de servicios.</p>
                        <p><i class="fas fa-check-circle"></i>Generación de energía.</p>
                        <p><i class="fas fa-check-circle"></i>Huertas comunitarias.</p>
                        <p><i class="fas fa-check-circle"></i>Parte de un gran movimiento que apuesta al futuro.</p>

                    </div>
                </div>
                <br><br>
            </div>
            <div class="col-lg-8 d-none d-md-block">
                <div class="container card-mapa">
                    <img src="assets/images/mapa2.png" style="width: 100%">
                    <div class="row justify-content-md-center">
                        <div class="col-md-6">

                            <p><mark>1.</mark> Ingresos</p>
                            <p><mark>2.</mark> Pórtico</p>
                            <p><mark>3.</mark> Parque Agroecológico</p>
                            <p><mark>4.</mark> Área Paseo Comercial A Cielo Abierto</p>
                            <p><mark>5.</mark> Área Corporativa</p>
                            <p><mark>6.</mark> Área Semiproductiva Comercial</p>
                            <p><mark>7.</mark> Área Reservada Para Proyecto Especial</p>
                            <p><mark>8.</mark> Área Comercial Barrial</p>

                        </div>
                        <div class="col-md-6">
                            <p><mark>9.</mark> Parque Frutal</p>
                            <p><mark>10.</mark> Parque Lineal</p>
                            <p><mark>11.</mark> Huertas Urbanas</p>
                            <p><mark>12.</mark> Invernaderos Y Feria Cadena Corta</p>
                            <p><mark>13.</mark> Eco Centro</p>
                            <p><mark>14.</mark> Lotes Verdes</p>
                            <p><mark>15.</mark> Reservorios</p>
                            <p><mark>16.</mark> Área Deportiva</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
