<div class="container-fluid greenbg greenbg-image mainblock-presentacion">
    <div class="container">
        <app-logoymenu></app-logoymenu>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <br>
                <br>
                <br>
                <h5 class="titulo">BARRIO ABIERTO <mark>AGROECOLOGICO</mark></h5>
                <br>
                <div class="d-none d-md-block">
                    <h1>El cambio</h1>
                    <h1>que tu vida necesita.</h1>
                </div>
                <div class="d-block d-md-none">
                    <h2>El cambio</h2>
                    <h2>que tu vida necesita.</h2>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <br>
                        <hr>
                    </div>
                </div>
                <br>
                <p>Comunidad Evolutiva, es un gran proyecto inspirado en el futuro. </p>
                <p>Un desarrollo responsable, que apuesta a la sustentabilidad, el cuidado del medio ambiente, el
                    desarrollo social y el crecimiento económico local y regional. </p>
                <p>Un proyecto de triple impacto que propone una evolución en la forma de vivir.</p>
                <br>
                <h6><a href="#" class="sabermas">Saber más</a></h6>
                <br>
                <br>
            </div>
            <div class="col-lg-5 d-none d-sm-block">
                <app-fomrulario-contacto></app-fomrulario-contacto>
            </div>
        </div>

    </div>
    <div class="container-fluid-custom d-sm-none">
        <app-fomrulario-contacto></app-fomrulario-contacto>
    </div>
</div>
