<div class="container-fluid greenbg greenbg-image mainblock-presentacion">
    <div class="container">
        <app-logoymenu></app-logoymenu>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <br>
                <br>
                <br>
                <h5 class="titulo">BARRIO PRIVADO <mark>GRAL LAGOS</mark></h5>
                <br>
                <div class="d-none d-md-block">
                    <h1>Viví tu</h1>
                    <h1>mejor versión</h1>
                </div>
                <div class="d-block d-md-none">
                    <h2>Viví tu mejor versión</h2>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <br>
                        <hr>
                    </div>
                </div>
                <br>
                <p>Vitta es una declaración de cambio, es una inspiración a alcanzar lo que queremos ser, lo que queremos que nuestra comunidad sea. Es un desafío que te empuja a vivir más, a vivir mejor. </p>
                <p>Vitta te invita a cambiar de hábitos, a vivir a pleno, a optimizar tu tiempo para disfrutar, a preparar tu cuerpo y tu mente.</p>
                <p><strong>
                    Vitta propone un entorno con todo lo que necesitás para conectarte con vos, para alcanzar juntos tu mejor versión.

                </strong></p>
                <br>
                <h6><a href="#proyecto" class="sabermas">Saber más</a></h6>
                <br>
                <br>
            </div>
            <div class="col-lg-5 d-none d-sm-block">
                <app-fomrulario-contacto></app-fomrulario-contacto>
            </div>
        </div>

    </div>
    <div class="container-fluid-custom d-sm-none">
        <app-fomrulario-contacto></app-fomrulario-contacto>
    </div>
</div>
