<div class="container-fluid mainblock-mapa greyandgreenbg">
    <div class="row">
        <div class="col-md-6 d-none d-lg-block">
            <div class="bgMapa card-pattern">

            </div>
        </div>
        <div class="col-lg-6 text-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-11">
                        <br><br>
                        <h2>Pueblo Esther</h2>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-1">
                        <hr>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-7">
                        <p>Pueblo Esther es una ciudad ubicada a 15 minutos de Rosario, pegada al afluente más grande de la región, el Río Paraná. </p>
                        <br>
                        <p>Un lugar descontracturado de gran proyección, ideal para aprovechar espacios al aire libre, paseos, disfrutar de la costa y el río estando inmerso además en una gran área productiva.</p>
                        <br>
                        <p>Comunidad Evolutiva se encuentra en una zona privilegiada de la ciudad, al suroeste, contenida por un parque agroecológico; un anillo verde que carga los espacios de vitalidad y propone un gran desarrollo ambiental.</p>
                        <br>
                        <br>
                        <div class="important-text">
                            <i class="fas fa-map-marker-alt d-none d-md-block"></i>
                            <p>Estratégicamente ubicado y fácil acceso desde la Ruta Provincial 21 y la autopista AO12, evitando congestiones.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
