<div class="container-fluid mainblock-mapa" [attr.id]="anchorId" >
    <div class="row">
        <div class="col-md-6 d-none d-lg-block">
            <div class="bgMapa card-pattern">

            </div>
        </div>
        <div class="col-lg-6 text-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-11">
                        <br><br>
                        <h2>General <strong>Lagos</strong></h2>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-1">
                        <hr>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-7">
                        <p>Es una comuna a <strong>22 km de Rosario</strong>, pegada a la ciudad de Pueblo Esther. General Lagos registra un crecimiento demográfico de un 30% en los últimos años, considerada en proceso de conurbanización.</p>
                        <br>
                        <p> Los amaneceres y los atardeceres ofrecen un escenario auditivo de trinos que se disfruta tanto para hacer deportes como para cualquier actividad de ocio o recreación.</p>
                        <br>
                        <p> La escasa contaminación visual que ofrece la zona hace posible que se <strong>aprecie la naturaleza en su máximo esplendor.</strong> El cielo nocturno se presenta de una forma realmente diferente sobre todo en las agradables noches de verano. </p>
                        <br>
                        <br>
                        <div class="important-text">
                            <i class="fas fa-map-marker-alt d-none d-md-block"></i>
                            <p>La localidad linda con el <strong>Río Paraná</strong>, lo cual permite la realización de diferentes actividad.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
