<div class="container-fluid mainblock-sita">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5" style="text-align: center;">
                <img src="assets/images/logo_roma.svg" style="width: 50%">
                <br>
                <br>
            </div>
            <div class="col-lg-7">
                <h6><strong>CONFORT, AMENITIES Y EL CUIDADO DEL MEDIO AMBIENTE</strong></h6>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9">
                        <blockquote class="blockquote text-left">
                            <div class="decorator"><h3><i class="fas fa-quote-left"></i></h3></div>
                            <p class="mb-0">Como desarrolladores inmobiliarios, buscamos generar proyectos sustentables en donde el confort, los amenities y el cuidado del medio ambiente sean los ejes principales. Tenemos la intención de ofrecer verdaderas soluciones de vivienda para que la gente pueda acceder a la vida que siempre soñaron.
                                <br><strong>Conectamos a la población con nuevas oportunidades.</strong> </p>
                            <footer class="blockquote-footer"><cite title="Source Title">Roma Management.</cite></footer>
                          </blockquote>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
