<div class="container-fluid mainblock-servicios">
    <div class="container">
        <h2>Servicios</h2>
        <div class="row">
            <div class="col-md-1">
                <br>
                <hr>
            </div>
        </div>
        <br>
        <br>
        <div class="row seccion-servicios">
            <div class="col-lg-3 col-md-6">
                <p><img src="assets/images/casino-cctv.png">Seguridad</p>
                <p><img src="assets/images/alarm.png">Alarma</p>
                <!--<p><img src="assets/images/speedometer.png">Velocidad controlada</p>-->
                <p><img src="assets/images/water-tap.png">Agua potable</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <p><img src="assets/images/road.png">Cordón cuneta</p>
                <p><img src="assets/images/forest.png">Forestación</p>
                <p><img src="assets/images/wireless-router.png">Wifi</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <p><img src="assets/images/electricity-tower.png">Red de media</p>
                <p><img src="assets/images/car.png">Ripio estabilizado</p>
                <p><img src="assets/images/lamp.png">Alumbrado</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <p><img src="assets/images/road2.png">Asfalto</p>
            </div>
        </div>
        <br><br><br><br>
        <div class="row">
            <div class="col">
                <h2>Diferenciales</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <br>
                <hr>
                <br>
                <br>
            </div>
        </div>
        <div class="row seccion-diferenciales justify-content-md-center">
            <div class="col-lg-5">
                <p class="acordion-title"><a href="#parqueagroecologico" data-toggle="collapse">PARQUE AGROECOLÓGICO<i
                            class="fas fa-arrow-down"></i></a></p>
                <div class="collapse" id="parqueagroecologico">
                    <div class="acordion-content">
                        <p>Gran circuito verde donde el alma del barrio se hace presente.</p>

                        <p>Se propone como intervención estructural un parque agroecológico destinado a delimitar
                            distintas
                            zonas y usos en el proyecto a lo largo y ancho de su recorrido, de manera que,
                            perimetralmente,
                            contenga al barrio en todo su conjunto.</p>

                    </div>

                </div>
                <p class="acordion-title"><a href="#lotesverdes" data-toggle="collapse">LOTES VERDES<i
                            class="fas fa-arrow-down"></i></a></p>
                <div class="collapse" id="lotesverdes">
                    <div class="acordion-content">
                        <p>Los mismos están destinados a establecer pautas y características constructivas sostenibles y
                            tecnológicas para las viviendas. Esto incluye, recolección de agua, paneles fotovoltaicos,
                            recolección y separación de desechos, entre muchos otros diferenciales. Frente a estos lotes
                            se ubican huertas urbanas equipadas con invernaderos y pérgolas designados a generar ferias
                            temporales para la comercialización de cultivos.</p>

                    </div>

                </div>

                <p class="acordion-title"><a href="#parquefrutal" data-toggle="collapse">PARQUE FRUTAL<i
                            class="fas fa-arrow-down"></i></a></p>
                <div class="collapse" id="parquefrutal">
                    <div class="acordion-content">
                        <p>Espacio dedicado al emplazamiento de decenas de árboles de especies frutales que garantizan
                            la biodiversidad del conjunto y otorgan la posibilidad de acceder a sus frutos.</p>

                    </div>

                </div>
                <p class="acordion-title"><a href="#ecocentro" data-toggle="collapse">ECOCENTRO<i
                            class="fas fa-arrow-down"></i></a></p>
                <div class="collapse" id="ecocentro">
                    <div class="acordion-content">
                        <p>Un espacio con el fin de capacitar a la comunidad, vecinos, cooperativas, escuelas, ONGs,
                            etc., en el cuidado del medio ambiente y la producción de huertas urbanas, bajo el lema de
                            consumir lo que se produce y su comercialización en el sistema de cadena corta, es decir el
                            comercio desde huerta al vecino sin químicos y sin intermediarios.</p>
                        <p>Por otra parte este sector cumplirá la función de administrar y mantener los servicios del
                            barrio.
                        </p>

                    </div>

                </div>
                <p class="acordion-title"><a href="#areadeportiva" data-toggle="collapse">AREA DEPORTIVA<i
                            class="fas fa-arrow-down"></i></a></p>
                <div class="collapse" id="areadeportiva">
                    <div class="acordion-content">
                        <p>Espacio abierto diseñado para el entretenimiento y la práctica deportiva, inmerso en un
                            hermoso parque verde.</p>

                    </div>

                </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-5">
                <p class="acordion-title"><a href="#huertasurbanas" data-toggle="collapse">HUERTAS URBANAS<i
                            class="fas fa-arrow-down"></i></a></p>
                <div class="collapse" id="huertasurbanas">
                    <div class="acordion-content">
                        <p>Impulsamos la conformación y desarrollo de cooperativas de producción a través de
                            microemprendimientos internos que generen procesos participativos de cadena corta, bajo un
                            ciclo continuo de vivir, sembrar, cultivar, vender, consumir, reciclar.</p>

                    </div>

                </div>
                <p class="acordion-title"><a href="#areacorporativa" data-toggle="collapse">ÁREA CORPORATIVA<i
                            class="fas fa-arrow-down"></i></a></p>
                <div class="collapse" id="areacorporativa">
                    <div class="acordion-content">
                        <p>Sobre el frente de Ruta 16 se disponen lotes corporativos de 1000m2 y 500m2 destinados a
                            comercios, oficinas y almacenes de escala media generando un sistema de auto-abastecimiento
                            interna y externo, cubriendo las necesidades del entorno inmediato.</p>

                    </div>

                </div>
                <p class="acordion-title"><a href="#invernaderosyferia" data-toggle="collapse">INVERNADEROS Y FERIA<i
                            class="fas fa-arrow-down"></i></a></p>
                <div class="collapse" id="invernaderosyferia">
                    <div class="acordion-content">
                        <p>Infraestructura instalada para la generación de ferias de productores para impulsar el
                            abastecimiento e invernaderos para el cultivo permanente de especies vegetales para consumo
                            alimenticio.</p>
                    </div>

                </div>
                <p class="acordion-title"><a href="#areacomercialacieloabierto" data-toggle="collapse">AREA COMERCIAL A
                        CIELO ABIERTO<i class="fas fa-arrow-down"></i></a></p>
                <div class="collapse" id="areacomercialacieloabierto">
                    <div class="acordion-content">
                        <p>En el corazón del barrio se dispone de una plaza cultural con locales comerciales que serán
                            el abastecimiento para de la vida cotidiana del barrio.</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
