<div class="container-fluid mainblock-servicios" [attr.id]="anchorId" >
    <div class="container">
        <h2>Servicios</h2>
        <div class="row">
            <div class="col-md-1">
                <br>
                <hr>
            </div>
        </div>
        <br>
        <br>
        <div class="row seccion-servicios">
            <div class="col-lg-3 col-md-6">
                <p><img src="assets/images/casino-cctv.svg">Seguridad</p>
                <p><img src="assets/images/alarm.svg">Alarma</p>
                <p><img src="assets/images/controlacceso.svg">Control de acceso</p>
                <p><img src="assets/images/forest.svg">Forestación</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <p><img src="assets/images/water-tap.svg">Agua potable</p>
                <p><img src="assets/images/gas.svg">Gas</p>
                <p><img src="assets/images/cloaca.svg">Cloacas</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <p><img src="assets/images/wireless-router.svg">Wifi</p>
                <p><img src="assets/images/electricity-tower.svg">Red de media</p>
                <p><img src="assets/images/road2.svg">Asfalto</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <p><img src="assets/images/lamp.svg">Alumbrado</p>
                <p><img src="assets/images/road3.svg">Ripio estabilizado</p>
                <p><img src="assets/images/road.svg">Cordón cuneta</p>
            </div>
        </div>
        <br><br><br><br>

    </div>
</div>
