<div class="container-fluid mainblock-filosofia">
    <div class="row">
        <div class="col-md-5 bgGranja">

        </div>
        <div class="col-md-7 text-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col">
                        <h2>Filosofía de barrio</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-1">
                        <br>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9">
                        <br>
                        <p>La evolución nos exige crear nuevas formas de vivir, de trabajar, de producir, de consumir y de compartir en comunidad y estos cambios a su vez requieren de necesidades y contextos específicos para alcanzar nuevas metas. La misión de Comunidad Evolutiva es permitir espacios propicios e impulsores de un proyecto social superador. </p>
                        <br>
                        <p>Apoyamos el programa de ciudadano Prosumidor (productor + consumidor), una iniciativa del gobierno provincial que permite a todos los usuarios de la Empresa Provincial de la Energía (EPE) y cooperativas eléctricas adheridas, producir energía a partir de fuentes renovables e inyectarla a la red. La energía que generen los usuarios tendrán un reconocimiento económico que permitirá ahorrar en la factura de luz y recuperar la inversión hecha en tu equipo. </p>
                        <br>
                        <p>En Comunidad Evolutiva cada habitante del barrio tiene la posibilidad y el contexto necesario para generar su propia producción de alimentos, energía y productos agroecológicos, aportando a un sistema más saludable, limpio y económicamente sustentable pudiendo convertirse en abastecedores internos y externos. </p>
                        <br>
                        <p>Contamos con el acompañamiento de ONGs orientadas a promover estas gestiones acompañando a los habitantes a impulsar sus propias producciones.</p>
                        <br>
                        <br>
                        <br>
                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
